* {
  
}
.projetos div{
    border-radius: 7px;
    padding: 10px;
    background-color: rgba(241, 88, 42, 0.221)
}
.videos_orcamentos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.orcamentos h2{
  text-align: center;
}
.videos_orcamentos video{
  width: 650px;
  height: 360px;
  border-radius: 10px;
}
.bombas_solares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}
.bombas_solares img{
  border-radius: 10px;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.imagensdagaleria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.imagensdagaleria img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgb(181, 181, 181);
    transition: 0.3s;
}

.imagensdagaleria img:hover{
    transform: scale(1.1);
}

.galeria h2{
    text-align: center;
  }

@media (max-width: 1204px) {
  .videos_orcamentos video{
    width: 400px;
    height: 260px;
}
}

@media (max-width: 436px) {
  .videos_orcamentos video{
    width: 300px;
    height: 160px;
}
}