
.projetos div{
    border-radius: 7px;
    padding: 10px;
    background-color: rgba(241, 88, 42, 0.221)
}
.videos_orcamentos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
}
.orcamentos h2{
  text-align: center;
}
.videos_orcamentos video{
  width: 650px;
  height: 360px;
  border-radius: 10px;
}
.bombas_solares,
.chuveiro_eletrico, 
.sistema_separado,
.gerador_solar_124,
.kit_off_grid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}
.chuveiro_eletrico video,
.sistema_separado video,
.gerador_solar_124 video,
.kit_off_grid video{
  width: 650px;
  height: 360px;
  border-radius: 10px;
}
.bombas_solares img,
.chuveiro_eletrico img,
.sistema_separado img,
.gerador_solar_124 img,
.kit_off_grid img{
  max-width: 950px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.imagensdagaleria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.imagensdagaleria img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgb(181, 181, 181);
    transition: 0.3s;
}

.imagensdagaleria img:hover{
    transform: scale(1.1);
}

.galeria h2{
    text-align: center;
  }

@media (max-width: 1204px) {
  .videos_orcamentos video,
  .sistema_separado video,
  .chuveiro_eletrico video,
  .gerador_solar_124 video,
  .kit_off_grid video{
    width: 400px;
    height: 260px;
}
}

@media (max-width: 436px) {
  .videos_orcamentos video,
  .sistema_separado video,
  .chuveiro_eletrico video,
  .gerador_solar_124 video,
  .kit_off_grid video{
    width: 300px;
    height: 160px;
}
}